button {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.startButton,
.stopButton {
  height: 18dvh;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: black;
  font-size: 4dvh;
  font-weight: 500;
  text-align: center;
  border: 1dvh solid #73F527;
  color: #73F527;
}

.startButton {
  border-color: #73F527;
  color: #73F527;
}

.stopButton {
  border-color: #F52761;
  color: #F52761;
}

.startButtonPressed {
  background-color: #73F527;
  transition: background-color 1s;
}

.stopButtonPressed {
  background-color: #F52761;
  transition: background-color 1s;
}

.nextButton {
  height: 18dvh;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: black;
  font-size: 4dvh;
  font-weight: 500;
  text-align: center;
  color: #27EBF5;
  border: 1dvh solid #27EBF5;
}

.nextButton:disabled {
  visibility: hidden;
}

.nextButtonPressed {
  background-color: #27EBF5;
  transition: background-color 1s;
}

