body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  min-height: 100dvh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100dvh; 
}

.start-button, 
.stop-button {
  height: 20dvh;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: black;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.start-button {
  border: 5px solid #73F527;
  color: #73F527;
}

.stop-button {
  border: 5px solid #F52761;
  color: #F52761;
}

.action-button {
  height: 30dvh;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: black;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #27EBF5;
  border: 5px solid #27EBF5;
}

.action-button:disabled {
  border: 5px solid grey;
  color: grey;
}

.word,
.word-hidden {
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color, color 0.5s;
  min-width: 75vw;
  max-width: 75vw;
  line-height:1.5em;
  min-height:3.0em;
  vertical-align: middle;
  border-bottom: 2px solid rgb(56, 155, 134);
}

.word {
  background-color: rgba(21, 110, 90, 0);
  color: rgba(21, 110, 90, 1);
}

.word-hidden {
  background-color: rgba(21, 110, 90, 0.5);
  color: rgba(21, 110, 90, 0);
}