.word {
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  min-width: 75vw;
  max-width: 75vw;
  line-height:1.5em;
  min-height:3.0em;
  vertical-align: middle;
  border: none;
  border-bottom: 2px solid rgb(56, 155, 134);
}

.word span {
  transition: 1s filter linear; 
  -webkit-transition: 0.2s -webkit-filter linear;
  -moz-transition: 0.2s -moz-filter linear;
  -ms-transition: 0.2s -ms-filter linear;
  -o-transition: 0.2s -o-filter linear;
  filter: blur(0px);
}

.word:disabled {
  visibility: hidden;
}

.word {
  background-color: rgba(21, 110, 90, 0);
  color: rgba(21, 110, 90, 1);
}

.word.hidden span {
  filter: blur(5px);
}

@media (orientation: landscape) {
  .word {
    min-width: 50vw;
    max-width: 50vw;
  }
}